[submodule "external/dartt-protocol"]
	path = external/dartt-protocol
	url = https://github.com/Ocanath/dartt-protocol
[submodule "external/byte-stuffing"]
	path = external/byte-stuffing
	url = https://github.com/Ocanath/byte-stuffing
