/Debug/
/MATLAB/dynamic_sim_II_grt_rtw/
/MATLAB/slprj/.settings/language.settings.xml
.settings/
/Release/
***.asv
Inc/version.h
Core/Inc/version.h
ReleaseFull/
ReleaseLinux/
/ReleaseCopyBin/
Python/*.wav
Python/__pycache__/
***autosave***.TSC
DebugLinux/
ReleaseFullLinux/
build/

# LaTeX auxiliary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.out
*.lot
*.lof